<!DOCTYPE html>
<html ng-app="Fashion">
  <head>
    <title>Autumn Fashion Fix</title>
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
  </head>
  <body ng-controller="MainCtrl as main">
    <div class="navbar navbar-static-top navbar-dark bg-inverse" style="background-color: black;">
      <div class=container-fluid>
        <a href="#" class="navbar-brand">AFF</a>
      </div>
    </div>

    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"></div>
          <!-- ng-model connects with our ng-repeat to search by keyword typed in by user -->
          <input type="text" class="form-control" placeholder="Search by Keyword" ng-model="searchKeyword">

        </div>
      </div>
    </form>

    <div class="container">
      <div class="row">
        <!-- ng-repeat doing alot to present data, limit is set in the mainCtrl, filter connects with ng-model to generate results -->
        <div class='col-sm-6 col-md-4' ng-repeat="post in main.posts | orderBy: post | limitTo: limit | filter:searchKeyword">
          <!-- ng-switch will activate based on which service_name is being called, this allows for dynamic html -->
          <div ng-switch="post.service_name">
            <div ng-switch-when="Manual">
              <div class="card">
                <img ng-src="{{ post.item_data.image_url }}" style="height:280px; width: 100%; display:block;"/> <br />
                <div class="caption">
                  <p>{{ post.item_data.text }}</p> <br />
                  <a href="{{post.item_data.link}}">{{post.item_data.link_text}}</a>
                </div>
              </div>
            </div>
            <div ng-switch-when="Twitter">
              <div class="card">
                <div class=text-center>
                  <h2>{{ post.item_data.user.username }}</h2>
                  <p>{{ post.item_data.tweet }}</p>
                </div>
              </div>
            </div>
              <div ng-switch-when="Instagram">
                <div class="card">
                  <a href="{{ post.item_data.link }}"><img src="{{ post.item_data.image.large }}" style="height:280px; width: 100%; display:block;"/></a><br />
                  <h4>{{ post.item_data.user.username }}</h4>
                  <p>{{ post.item_data.caption }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-md-1 col-sm-offset-5">
            <button class="btn btn-large btn-info" ng-click="loadMore()">Load More</button>
          </div>
        </div>
      </div>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/MainCtrl.js"></script>
    <script src="scripts/services/Data.js"></script>

  </body>
</html>
